@model IEnumerable<AlbumModel>
@{
    ViewData["Title"] = "Página inicial";
}

<br />
<h2 class="text-center"  style="color: #8A2BE2;">Albuns</h2>
<hr class="hr" size="7"/>
<br />

<div class="container text-center">
    <div class="row">
        <!--CARD 1-->
        
    </div>
</div>

<style>
    .hr 
    {
        background-color: white;
        border: 2px solid #800080;
        box-shadow: 0px 0px 30px rgba(75,0,130);
    }

</style>